@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: url(../public/img/granemoji.jpg);
  color: #fff;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row;
  justify-content: center;
}

.posini {
  width: auto;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  top: 0;
  position: flex;
  text-align: center;
  margin-bottom: 1%;
}

.nav-tittle {
  text-align: center;
  font-weight: bold;
  width: 94%;
  margin: auto;
  padding: 1%;
}

.navelement {
  margin: 2%;
  color: rgb(249, 244, 244);
  display: flex;
  justify-content: space-around;
  position: relative;
  text-decoration: none;
}

.logo {
  display: block ruby;
}

.logo p {
  display: flex;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 22px;
  color: rgb(5, 5, 5);
}

.navelementact {
  margin: 2%;
  color: rgb(9, 9, 9);
  display: flex;
  position: relative;
  justify-content: space-around;
  -webkit-text-decoration: 2px underline wavy #ffab4b;
  text-decoration: 2px underline wavy #fff;
  font-size: 2em;
}

.footer-tittle {
  text-align: center;
  flex-grow: 1;
  color: #eaeaea;
}

