@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: url(../public/img/granblack.jpg);
  color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 255, 17, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

.posini {
  width: auto;
  display: flex;
  justify-content: center;
 }

.nav-bar {
  width: 100%;
  top: 0;
  position: flex;
  text-align: center;
  margin-bottom: 1%;
}

.nav-tittle {
  text-align: center;
  font-weight: bold;
  width: 94%;
  margin: auto;
  padding: 1%;
}

.navelement {
  margin: 2%;
  color: rgb(249, 244, 244);
  display: flex;
  justify-content: space-around;
  position: relative;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  display: flex;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 2em;
  color: rgb(250, 249, 249);
  margin: auto;
}

.navelementact {
  margin: 2%;
  color: rgb(250, 248, 248);
  display: flex;
  position: relative;
  justify-content: space-around;
  -webkit-text-decoration: 2px underline wavy #ffab4b;
  text-decoration: 2px underline wavy #fff;
  font-size: 2em;
}

.footer-tittle {
  text-align: center;
  flex-grow: 1;
  color: #eaeaea;
}
